body {
        background-image: url("../images/login.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
        background-size: cover;
}

/*navigation bar*/
body .my-nav-bar {
        background: transparent;
}

.icon-container > li > a {
        text-decoration: none;
}

.header-logo {
        font-size: 24px;
}

/* Header icon */
#text-home,
#text-message,
#text-text-post,
#text-pic-post,
#text-vid-post,
#text-my-profile {
        padding-top: 5px;
        font-size: 18px;
        display: none;
}

/* for not changing the size of the room when text hints replace the icons */
.icon-container {
        text-align: center;
        display: inline-block;
        width: 70px;
        padding-top: 10px;
}


/* List of posts */
.posts-container {
        padding-top: 80px;
}

.post-row {
        padding: 10px 0 10px 0;
}

.profile-pic {
        background: no-repeat 6px center;
        width: 65px;
        height: 65px;
        display: block;
        border: none;
        border-radius: 6px;
}

.content-container {
        background-color: white;
        margin-bottom: 10px;
        padding: 5px 0 10px 0;
        border-radius: 4px; 
        box-shadow: 0;
        transition: box-shadow 0.3s;
}

.content-container:hover {
        box-shadow: 0 0 18px #515151;;
}

.post-username {
        font-weight: 600;
        font-size: 16px;
}

.post-location {
        padding-left: 15px;
}

.post-content {
        padding: 10px 0 20px 0;
}

.post-tags {
        padding-bottom: 15px;
        font-size: 13px;
        color: rgb(143, 143, 143);
}

.number-likes {
        color: rgb(143, 143, 143);
        font-weight: 800px;
}

.like-and-comment-row {
        padding-right: 10px;
}

.like-and-comment-row > .fa {
        float: right;
        font-size: 18px;
        padding-left: 8px;
        font-weight: 600px;
        color: rgb(143, 143, 143);
}

/* The Modal (background) */
.modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        overflow-y: auto;
        max-height: 60%;
}

/* The Post Button */
.post-btn {
        background: rgb(92, 184, 92);
        color: white;
        font-size: 20px;
        border: none;
        border-radius: 5px;
        padding: 3px 12px 3px 12px;
        float: right;
}

.post-btn:focus {
        outline: none;
}

/* Modal Text Area */
#modal-text-area {
        width: 100%;
        display: block;
        font-size: 16px;
        margin: 20px 3px 20px 0;
        border: none;
        border-radius: 5px;
        word-break: break-word;
}

#modal-update-username,
#modal-location-area,
#modal-tag-area {
        width: 50%;
        display: block;
        font-size: 12px;
        margin: 10px 10px 5px 10px;
        border: none;
        border-radius: 5px;
        word-break: break-word;
}

#modal-update-username:focus,
#modal-text-area:focus,
#modal-location-area:focus,
#modal-tag-area:focus {
        outline: none;
}

.delete-post-btn {
        float: right;
        font-size: 18px;
}

@-moz-keyframes spin { 
        100% { 
                -moz-transform: rotate(90deg); 
        } 
}
@-webkit-keyframes spin { 
        100% { 
                -webkit-transform: rotate(90deg); 
        } 
}
@keyframes spin { 
        100% { 
                -webkit-transform: rotate(90deg); 
                transform:rotate(90deg); 
        }
} 

.delete-post-btn:hover {
        -webkit-animation:spin 200ms linear;
        -moz-animation:spin 200ms linear;
        animation:spin 200ms linear;
}


/* Heart */
.like-and-comment-row > .fa-heart {
        color: #cca2a3;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
}

.fa-heart:hover {
        color: red;
}

.liked {
        color: red !important;
}

.like-and-comment-row > .fa-comment {
        color: #0086b3;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
}

.fa-comment:hover {
        color: #4dd2ff;
}