body {
        background-image: url("../images/login.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
        background-size: cover;
}

/*navigation bar*/
body .my-nav-bar {
        background: transparent;
}

.icon-container > li > a {
        text-decoration: none;
}

.header-logo {
        font-size: 24px;
}

/* Header icon */
#text-home,
#text-message,
#text-text-post,
#text-pic-post,
#text-vid-post,
#text-my-profile {
        padding-top: 5px;
        font-size: 18px;
        display: none;
}

.icon-container {
        text-align: center;
        display: inline-block;
        width: 70px;
        padding-top: 10px;
}