<!DOCTYPE html>
<html>

<head>
        <title>
                Dashboard | Trawall
        </title>
        <link rel='stylesheet' href='/stylesheets/dashboard.css' />
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=ice|stonewash|wallpaper|distressed-wood|mitosis|putting-green|distressed">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Architects+Daughter">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id=<%= userId %> username=<%= userName %>>
        <!--Navigation bar-->
        <nav class="navbar navbar-default navbar-fixed-top my-nav-bar">
                <div class="container-fluid">
                        <div class="navbar-header">
                                <a class="navbar-brand" href="#"><span class="header-logo"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> trawall.</span></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                                <div class="icon-container">
                                        <li id="text-home"><a href="#"><span class="font-effect-mitosis">Home</span></a></li>
                                        <li id="home" class="icon"><a href="#top"><span class="font-effect-mitosis"><i class="fa fa-2x fa-home" aria-hidden="true"></i></span></a></li>
                                </div>
                                <div class="icon-container" id="messageBtn">
                                        <li id="text-message"><a href="#messenger"><span class="font-effect-wallpaper">Message</span></a></li>
                                        <li id="message" class="icon"><a href="#messenger"><span class="font-effect-wallpaper"><i class="fa fa-2x fa-commenting" aria-hidden="true"></i></span></a></li>
                                </div>
                                <div class="icon-container" id="textPostBtn">
                                        <li id="text-text-post"><a href="#projects"><span class="font-effect-ice">Text</span></a></li>
                                        <li id="text-post" class="icon"><a href="#projects"><span class="font-effect-ice"><i class="fa fa-2x fa-font" aria-hidden="true"></i></span></a></li>
                                </div>
                                <div class="icon-container" id="imagePostBtn">
                                        <li id="text-pic-post"><a href="#contact"><span class="font-effect-distressed-wood">Picture</span></a></li>
                                        <li id="pic-post" class="icon"><a href="#contact"><span class="font-effect-distressed-wood"><i class="fa fa-2x fa-picture-o" aria-hidden="true"></i></span></a></li>
                                </div>
                                <div class="icon-container" id="videoPostBtn">
                                        <li id="text-vid-post"><a href="#misc"><span class="font-effect-stonewash">Video</span></a></li>
                                        <li id="vid-post" class="icon"><a href="#misc"><span class="font-effect-stonewash"><i class="fa fa-2x fa-video-camera" aria-hidden="true"></i></span></a></li>
                                </div>
                                <div class="icon-container" id="profileBtn">
                                        <li id="text-my-profile"><a href="#"><span class="font-effect-distressed">Profile</span></a></li>
                                        <li id="my-profile" class="icon"><a href="#"><span class="font-effect-distressed"><i class="fa fa-2x fa-user" aria-hidden="true"></i></span></a></li>
                                </div>
                        </ul>
                </div>
        </nav>

        <!-- Posts -->
        <div class="container posts-container">
                <div class="row">
                        <div id="posts-list" class="col-lg-6 col-lg-offset-1">

                        </div>
                        <!-- <div id="tags-list" class="col-lg-4 col-lg-offset-8">
                                haahha          
                        </div> -->
                        <!-- TODO: Implement tags list -->
                </div>
        </div>

        <!-- Modal -->
        <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">

                </div>
        </div>



        <!-- Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/javascripts/dashboard.js"></script>
</body>

</html>