<!DOCTYPE html>
<html>

<head>
        <title>
                Password Reset | Trawall
        </title>
</head>

<body>
        <h1>
                Password Reset | Trawall
        </h1>
        <h2>
                <%= email %>
        </h2>
        <form id="register-form" action='/api/user/resetPassword' method='POST'>
                <p>Email</p>
                <input readonly type="email" id="email" name="email" value=<%= email %>>
                <p>Password</p>
                <input type="password" id="password" name="password">
                <p>Confirm Password</p>
                <input type="password" id="password-confirm" name="confirm password"><br>
                <input class="button" id="reset-btn" type="submit" value="Reset">
        </form>

        <!-- Script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/javascripts/passwordReset.js"></script>
</body>

</html>